nz-form-control label {
    font-size: 18px;
    color: var(--light-Db-FontColor);
    margin-bottom: 5px;
}

nz-form-control input {
    font-size: large;
    color: rgb(0, 0, 0);
    background-color: var(--input-color);
    border-radius: 8px;
    border-color: var(--input-bordercolor);
}

::ng-deep nz-date-picker .ant-picker-input input {
    font-size: large;
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
}

nz-date-picker {
    color: rgb(0, 0, 0);
    background-color: var(--input-color);
    border-radius: 8px;
    border-color: var(--input-bordercolor);
    padding: 6px 15px;
}

nz-form-control textarea {
    font-size: large;
    color: rgb(0, 0, 0);
    background-color: var(--input-color);
    border-radius: 8px;
    border-color: var(--input-bordercolor);
}

.custom-select {
    font-size: large;
    color: rgb(0, 0, 0);
    background-color: var(--input-color);
    border-radius: 8px;
    border-color: var(--input-bordercolor);
}