nz-form-control label {
    font-size: 18px;
    color: var(--light-Db-FontColor);
    margin-bottom: 5px;
}

nz-form-control input {
    font-size: large;
    color: rgb(0, 0, 0);
    background-color: var(--input-color);
    border-radius: 8px;
    border-color: var(--input-bordercolor);
}

nz-form-control textarea {
    font-size: medium;
    color: rgb(0, 0, 0);
    background-color: var(--input-color);
    border-radius: 8px;
    border-color: var(--input-bordercolor);
}



.custom-select {
    font-size: large;
    color: rgb(0, 0, 0);
    background-color: var(--input-color);
    border-radius: 8px;
    border-color: var(--input-bordercolor);
}

.card {
    border: none;
    border-radius: 8px;
}

p {
    color: var(--light-Db-FontColor);
}
::ng-deep .custom-toast {
  background: linear-gradient(135deg, #ff6a00, #ee0979) !important;
  color: #050404 !important;
  font-weight: bold;
  font-size: 65px !important; /* Increase font size */
  font-weight: 500;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  animation: toast-pop 0.4s ease-out forwards;
}

@keyframes toast-pop {
  0% {
    transform: translateY(-30px) scale(0.9);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
.cell {
  padding: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


// .ant-btn-primary{
//     background-color:var(--primary-color) ;
//     border-color:var(--light-Db-FontColor) ;
// }

// .ant-btn-primary:hover{
//     background-color:var( --use-secondary-color) ;
//     border-color:var(--secondary-color) ;
// }