<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <div class="container-fluid px-4 pt-2 m-0">
        <div class="header mb-3 d-flex justify-content-between">
            <h2>Supplier Enter Bill</h2>
        </div>
        <div class="card p-4">

            <form [formGroup]="supplerEnterForm">
                <div class="row">
                    <!-- <div class="col-md-3 col-sm-12 mb-4">
                        <nz-form-control nzErrorTip="Please input Date!">
                            <label>Date</label><br>
                            <nz-date-picker [nzDisabledDate]="disabledDate" class="w-100" formControlName="date"
                                nzSize="large"></nz-date-picker>
                        </nz-form-control>
                    </div> -->
                    <!-- <div class="col-md-3 col-sm-12 mb-4">
                        <nz-form-control>
                            <label>Supplier Enter Bill Number</label>
                            <input type="text" nz-input formControlName="voucherNumber" nzSize="default" />
                        </nz-form-control>
                    </div> -->
                    <div class="col-md-3 col-sm-4 mb-4  ">
                        <nz-form-control nzErrorTip="Supplier should not be empty">
                            <label>Supplier Name</label>
                            <nz-select nzShowSearch formControlName="partyId" class="custom-select">
                                <nz-option *ngFor="let party of partyData" [nzValue]="party.id"
                                    [nzLabel]="party.name"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </div>
                </div>
            </form>
            <nz-divider class="m-0 mb-3"></nz-divider>
            <form [formGroup]="supplerEnterForm">
                <nz-table #basicTable [nzData]="voucherData" [nzPageSize]="1000">
                    <thead>
                        <tr>
                            <th nzWidth="1%">No</th>
                            <th nzWidth="10%">Date</th>
                            <th nzWidth="30%">GRN Number</th>
                            <!-- <th>Location</th> -->
                            <th nzWidth="10%">Paid Value</th>
                            <th nzWidth="10%">Amount</th>
                            <th nzWidth="10%" class="text-center">Confirmation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of voucherData; let i = index">
                            <!-- <td [(nzExpand)]="data.expand" (click)="onExpandRow(data)"></td> -->
                            <td>{{ i + 1 }}</td>
                            <td>{{ data.date | date:'yyyy-MM-dd' }}</td>
                            <td>{{ data.voucherNumber }}</td>
                            <!-- <td>{{ data.location }}</td> -->
                            <td>{{ data.paidValue | currency: ' ' }}</td>
                            <td>{{ data.amount | currency: ' ' }}</td>
                         
                            <td class="d-flex justify-content-center">
                                <button nz-button nz-tooltip="Confirm" nzType="primary" nzShape="circle"
                                    (click)="handleEdit(data)">
                                    <span nz-icon nzType="check"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </form>

            <!-- <div class="process mt-5">
                <button class="primary w-100">Supplier Enter Bill</button>
            </div> -->
        </div>
    </div>
</nz-spin>