<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <div class="container-fluid px-4 pt-1 m-0">
        <div class="header mb-1 d-flex justify-content-between">
            <h2>Import Clearance</h2>
        </div>
        <div class="card p-4">
            <form [formGroup]="makeDepositForm">
                <div class="row align-items-end mb-3">
                    <!-- Date Picker -->
                    <div class="col-md-4 col-sm-12 mb-3">
                        <nz-form-control nzErrorTip="Please input Date!">
                            <label>Date</label><br />
                            <nz-date-picker [nzDisabledDate]="disabledDate" class="w-100" formControlName="date"
                                nzSize="large">
                            </nz-date-picker>
                        </nz-form-control>
                    </div>

                    <!-- Voucher Number -->
                    <div class="col-md-4 col-sm-12 mb-3">
                        <label><strong>Voucher Number:</strong></label>
                        <p class="form-control-static">{{ vouchernumber }}</p>
                    </div>

                    <!-- Total Amount -->
                    <div class="col-md-4 col-sm-12 mb-3">
                        <label><strong>Total Amount:</strong></label>
                        <p class="form-control-static">{{ amount | number: '1.2-2' }}</p>
                    </div>
                </div>
            </form>


            <nz-divider class="m-0 mb-3"></nz-divider>

            <!-- Editable Table -->
            <nz-table #editRowTable [nzShowPagination]="false" nzBordered [nzData]="listOfData">
                <thead>
                    <tr>
                        <th nzWidth="50%">Account</th>
                        <!-- <th nzWidth="20%">Debit</th> -->
                        <th nzWidth="40%">Amount</th>
                        <th nzWidth="10%" class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of listOfData; let i = index" class="editable-row">
                        <td>
                            <nz-select class="w-100" [(ngModel)]="data.accountId" nzAllowClear nzShowSearch
                                nzPlaceHolder="Select Account">
                                <nz-option *ngFor="let acc of chartofaccList" [nzValue]="acc.id"
                                    [nzLabel]="acc.accountName"></nz-option>
                            </nz-select>
                        </td>
                        <!-- <td>
                            <input type="number" nz-input [(ngModel)]="data.debit" [disabled]="data.isDebitDisabled"
                                (ngModelChange)="onAmountChange(data)" />
                        </td> -->
                        <td>
                            <input type="number" nz-input [(ngModel)]="data.amount"
                                (ngModelChange)="onAmountChange(data)" />
                        </td>
                        <td class="text-center">
                            <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">
                                <i nz-icon nzType="delete" nzTheme="twotone" nzTwotoneColor="#ed2121"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>

            </nz-table>

            <!-- Add Row Button -->
            <div class="mt-3">
                <button (click)="addRow()" class="primary">
                    <i nz-icon nzType="plus"></i> Add Row
                </button>
            </div>

            <!-- Total Amount Section -->
            <div class="row justify-content-end align-items-center mt-3">
                <div class="col text-end">
                    <h5>Total Amount</h5>
                </div>
                <div class="col-3 mb-2">
                    <nz-form-control nzErrorTip="Please input the value!">
                        <input type="text" nz-input nzSize="default" [disabled]="true" [value]="totalAmount" readonly />
                    </nz-form-control>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="process mt-5">
                <button class="primary w-100" nz-popconfirm nzPopconfirmTitle="Are you sure Save this Jorunal Entry"
                    (nzOnConfirm)="updateConform(listOfData)" (nzOnCancel)="cancel()">
                    <i nz-icon nzType="save"></i> Save Jorunal Entry
                </button>
            </div>
        </div>
    </div>
</nz-spin>