<!-- <button class="download-btn" (click)="downloadInvoice()">Generate PDF</button> -->
<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <div class="invoice-box" id="invoice">
        <div class="header-container">
            <div class="row">
                <div class="col-3">
                    <img src="img/logo.png" alt="Logo" class="img-fluid" />
                </div>
                <div class="col-9">
                    <h1 class="fs-4 fw-bold">HITECH LANKA (PVT) LTD</h1>
                    <span>No 932A, Kotte Road, Ethul Kotte | Com.Reg. No PV-00283449</span><br>
                    <span>Hot Line: 0727 205 205</span><br>
                    <span>Email: {{email}} | Website: www.hitechlanka.lk</span>
                </div>
            </div>
        </div>
        <nz-divider class="m-0 mb-3"></nz-divider>

        @if(voucherData) {
        <div class="invoice-info">
            <div class="row mb-3">
                <div class="col-6 ">
                    <h3>{{type}}</h3>
                    @if(voucherData.party !== null){
                    <h3>{{voucherData.party.name}}</h3>
                    }
                </div>
                @if(type === 'Stock Transfer' || type === 'STOCK-TRANSFER'){

                }
                @else {
                <div class="col-6 ms-auto invoice-info-sub ">
                    <h5>Amount</h5>
                    <h4>{{ getTotal() | currency:'LKR ' }}</h4>
                    @if(voucherData.dueDays > 0) {
                    <span>Credit Period: {{ voucherData.dueDays }} Days</span>
                    }
                </div>
                }
            </div>

            <div class="row">
                <div class="col-7">
                    <div class="row">
                        @if(type === 'Stock Transfer' || type === 'STOCK-TRANSFER'){
                        @if(voucherData.VoucherCenter){
                        <div class="col-5"
                            *ngIf="voucherData.VoucherCenter[0].centerStatus === 'OUT' || voucherData.VoucherCenter[1].centerStatus === 'OUT' ">
                            <span class="fw-bold">From Center</span>
                        </div>
                        <div class="col-7">
                            <span>{{voucherData.VoucherCenter[0].centerStatus === 'OUT' ?
                                voucherData.VoucherCenter[0].center.centerName
                                : voucherData.VoucherCenter[1].center.centerName}}</span>
                        </div>
                        <div class="col-5"
                            *ngIf="voucherData.VoucherCenter[0].centerStatus === 'IN' || voucherData.VoucherCenter[1].centerStatus === 'IN' ">
                            <span class="fw-bold">To Center</span>
                        </div>
                        <div class="col-7">
                            <span>{{voucherData.VoucherCenter[0].centerStatus === 'IN' ?
                                voucherData.VoucherCenter[0].center.centerName
                                : voucherData.VoucherCenter[1].center.centerName}}</span>
                        </div>
                        }
                        }
                        @else {
                        <div class="col-5">
                            @if(mode === 'payable'){
                            <span class="fw-bold">Supplier Address :</span>
                            }
                            @else {
                            <span class="fw-bold">Customer Address :</span>
                            }
                        </div>
                        <div class="col-7">
                            @if(voucherData.party !== null){
                            <span>{{voucherData.party.address1}}</span>
                            }
                        </div>
                        <div class="col-5">
                            @if(mode === 'payable'){
                            <span class="fw-bold">Supplier Contact No :</span>
                            }
                            @else {
                            <span class="fw-bold">Customer Contact No :</span>
                            }
                        </div>
                        <div class="col-7">
                            @if(voucherData.party !== null){
                            <span>{{voucherData.party.phoneNumber}}</span>
                            }
                        </div>
                        }
                        <div class="col-5">
                            @if(mode === 'payable'){
                            <span class="fw-bold">Created By :</span>
                            }
                            @else {
                            <span class="fw-bold">Sales Person :</span>
                            }
                        </div>
                        <div class="col-7">
                            <span>{{voucherData.user?.name}}</span>
                        </div>
                        <div class="col-5">
                            @if(mode === 'payable'){
                            <span class="fw-bold">Contact No :</span>
                            }
                            @else {
                            <span class="fw-bold">Contact No :</span>
                            }
                        </div>
                        <div class="col-7">
                            <span>0{{userPhoneNumber}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="row text-end">
                        <div class="col-6">
                            <span class="fw-bold">Invoice Number :</span>
                        </div>
                        <div class="col-6">
                            <span>{{voucherData.voucherNumber}}</span>
                        </div>

                        <div class="col-6">
                            <span class="fw-bold">Date :</span>
                        </div>
                        <div class="col-6">
                            <span>{{voucherData.date | date}}</span>
                        </div>
                        @if(voucherData.refNumber !== "" || null){
                        <div class="col-6">
                            <span class="fw-bold">Ref Number :</span>
                        </div>
                        <div class="col-6">
                            <span>{{voucherData.refNumber }}</span>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <nz-divider class="m-0 mb-3"></nz-divider>
        <div class="items">
            <table>
                <thead>
                    <tr>
                        @if(type === 'Stock Transfer' || type === 'STOCK-TRANSFER'){
                        <th>Item</th>
                        <th>Qty</th>
                        }
                        @else {
                        <th>Item</th>
                        <th>Unit Price</th>
                        <th>Discount</th>
                        <th>Qty</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        }

                    </tr>
                </thead>
                <tbody>
                    @for(data of voucherData?.voucherProduct; track data){
                    <tr>
                        @if(type === 'Stock Transfer' || type === 'STOCK-TRANSFER'){
                        <td>{{ data.product.printName }} </td>
                        <td>{{ data.quantity }} </td>
                        }
                        @else {
                        <td>{{ data.product.printName }} </td>
                        @if(this.mode === 'payable'){
                        <td>{{ data.cost | currency:'LKR ' }}</td>
                        }@else {
                        <td>{{ data.MRP | currency:'LKR ' }}</td>
                        }
                        @if(data.discount === '' || data.discount === null || data.discount === undefined){
                        <td>{{ 0 }}</td>
                        }
                        @else{
                        <td>{{ data.discount }}</td>
                        }
                        <td>{{ data.quantity }} </td>
                        @if(this.mode === 'payable'){
                        <td>{{ getDiscountRate(data.discount, data.cost) | currency:'LKR ' }}</td>
                        }@else {
                        <td>{{ getDiscountRate(data.discount, data.MRP) | currency:'LKR ' }}</td>
                        }
                        <td>{{ getAmount(data) | currency:'LKR ' }}</td>
                        }

                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <nz-divider class="m-0 mb-3"></nz-divider>
        <div class="row">
            <div class="col-6">
                @if(voucherData?.PaymentVoucher.length > 0){
                <p class="fs-5 fw-bold">Payments</p>
                @for(payment of voucherData?.PaymentVoucher; track payment){
                <div class="row">
                    <div class="col-6">
                        <span>{{payment.paymentType}}</span>
                    </div>
                    <div class="col-6">
                        <span>{{payment.amount | currency:'LKR '}}</span>
                    </div>
                </div>
                }
                }
            </div>
            @if(type === 'Stock Transfer' || type === 'STOCK-TRANSFER'){

            }
            @else {
            <div class="col-6 text-end">
                <span class="fs-5 fw-bold">Total: </span>
                <span class="fs-5 fw-bold">{{ getSubtotal() | currency:'LKR ' }}</span>
            </div>
            }

        </div>
        <nz-divider class="m-0 mb-3"></nz-divider>
        <div>
            @if(mode === 'recivable'){
            <div class="payment-instruction">
                <h3>Payment Instruction</h3>
                <hr class="m-0 my-3">
                <div class="row">
                    <p class="mb-3">Cheques to be drawn infavour of "Hitech Lanka Pvt Ltd" or deposit to following
                        accounts</p>
                    <div class="col-6">
                        <p>Account Name: Hitech Lanka (Pvt) Ltd</p>
                        <p>Bank: Bank of Ceylon</p>
                        <p>Branch: Nugegoda</p>
                        <p>Account Number: 91563417</p>
                    </div>
                    <div class="col-6">
                        <p>Account Name: Hitech Lanka (Pvt) Ltd</p>
                        <p>Bank: NDB Bank PLC</p>
                        <p>Branch: Kohuwala</p>
                        <p>Account Number: 111000210494</p>
                    </div>
                </div>
            </div>
            }
            @else if (type === 'Stock Transfer' || type === 'STOCK-TRANSFER') {
            <div class="row d-flex justify-content-between">
                <div class="col-3 text-center">
                    <div class="signature-line"></div>
                    <label>Transferred By</label>
                </div>
                <div class="col-3 text-center">
                    <div class="signature-line"></div>
                    <label>Issued By</label>
                </div>
                <div class="col-3 text-center">
                    <div class="signature-line"></div>
                    <label>Received By</label>
                </div>
                <div class="col-3 text-center">
                    <div class="signature-line"></div>
                    <label>Authorised By</label>
                </div>
            </div>
            }
        </div>
        }
        <nz-divider class="m-0 mb-3"></nz-divider>
        <div class="footer">
            <p><strong>Reliable Parts, Lasting Solutions - Driving Excellence Every Mile!</strong></p>
            <p class="imp">Implemented by Cybernetic</p>
        </div>
    </div>
</nz-spin>