<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <h3>{{ action }} Petty Cash IOU</h3>

    <form class="pt-4" #iouForm="ngForm">
        <div class="d-flex justify-content-between mb-3">
            <div>
                <h4>Amount {{ maxAmount | currency: 'Rs ' }}</h4>
            </div>
            <div>
                <button type="button" (click)="addRow()" class="primary">
                    <i nz-icon nzType="plus"></i> Add Row
                </button>
            </div>
        </div>

        <!-- Table for Petty Cash IOU Details -->
        <nz-table [nzShowPagination]="false" nzBordered [nzData]="listOfData" class="mb-3">
            <thead>
                <tr>
                    <th nzWidth="20%">Refer Number</th>
                    <th nzWidth="50%">Description</th>
                    <th nzWidth="20%">Amount</th>
                    <th nzWidth="10%" class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of listOfData; let i = index" class="editable-row">
                    <!-- Refer Number Input -->
                    <td>
                        <input type="text" nz-input [(ngModel)]="data.refnumber" name="refnumber{{ i }}" />
                    </td>

                    <!-- Description Input -->
                    <td>
                        <input type="text" nz-input [(ngModel)]="data.description" name="description{{ i }}" />
                    </td>

                    <!-- Amount Input -->
                    <td>
                        <input type="number" nz-input [(ngModel)]="data.amount" (ngModelChange)="onAmountChange(data)"
                            name="amount{{ i }}" />
                    </td>

                    <!-- Delete Row Button -->
                    <td class="text-center">
                        <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">
                            <i nz-icon nzType="delete" nzTheme="twotone" nzTwotoneColor="#ed2121"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </nz-table>

        <!-- Display Total Spent and Balance -->
        <div class="row">
            <!-- Total Spent Input -->
            <div class="col-6 mb-3">
                <nz-form-control nzErrorTip="Please Enter Spent Amount!">
                    <label>Spent Amount</label>
                    <input type="number" nz-input name="spent" nzSize="large" [(ngModel)]="totalSpent" readonly />
                </nz-form-control>
            </div>

            <!-- Balance Input -->
            <div class="col-6 mb-3">
                <nz-form-control>
                    <div class="d-flex justify-content-between">
                        <label>Balance Amount</label>
                        <label nz-checkbox [(ngModel)]="isReturn" (click)="checkbutton()" name="return">Return</label>
                    </div>
                    <input type="number" nz-input name="balance" nzSize="large" [value]="balance" readonly />
                </nz-form-control>
            </div>
        </div>

        <!-- Form Submit Button -->
        <div class="footer d-flex justify-content-end">
            <button type="button" class="primary px-5" (click)="submit()">
                {{ action }}
            </button>
        </div>
    </form>
</nz-spin>